 {% load staticfiles %}
    <html>
        <head>
            <title>Globa's-Blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
            <div class="page-header">
                {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
                <h1 class="h"><a href="/">Globa's-Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
<button id="scrollup"><span class="glyphicon glyphicon-chevron-up"></span></button>
<script>
window.onload = function() {

var scrollUp = document.getElementById('scrollup'); 

scrollUp.onmouseover = function() {
scrollUp.style.opacity=0.8;
scrollUp.style.filter = 'alpha(opacity=30)';
};

scrollUp.onmouseout = function() {
scrollUp.style.opacity = 0.5;
scrollUp.style.filter = 'alpha(opacity=50)';
};

scrollUp.onclick = function() { 
window.scrollTo(0,0);
};

// show button

window.onscroll = function () { 
if ( window.pageYOffset > 0 ) {
scrollUp.style.display = 'block';
} else {
scrollUp.style.display = 'none';
}
};
};
</script>
        </body>
    </html>